* {
  font-family: $main-font;
}

//navbar

nav {
  width: 100%;
  padding: 15px 10px;
  background: $main-bg-color;
  .toggler {
    //hamburger ripped from bootstrap svg
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    color: $white;
    cursor: pointer;
  }
  display: flex;
  justify-content: flex-end;
  ul {
    max-height: 0;
    position: relative;
    top: 100%;
    // height: auto;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease-in-out;
    li {
      &:first-of-type {
        padding-top: 40px;
      }
      padding: 5px;
      text-align: left;
      a {
        display: block;
        color: $link-color;
        text-decoration: none;
        &:hover {
          color: $white;
        }
      }
    }
  }
  ul.show {
    max-height: 1000px;
    pointer-events: all;
    opacity: 1;
  }
  @media (min-width: 992px) {
    .toggler {
      display: none;
    }
    ul,
    ul.show {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex: 1;
      max-height: 1000px;
      opacity: 1;
      pointer-events: all;
      li {
        padding: 5px;
        text-align: center;

        &:first-of-type {
          padding-top: 5px;
        }
      }
    }
  }
}

//project cards

.row {
  display: flex;
  flex-wrap: wrap;
  .column {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    @media (min-width: 576) {
      width: 50%;
    }
    @media (min-width: 576) {
      width: 33.3333333333%;
    }
    .project {
    }
  }
}
