* {
  font-family: $main-font;
  color: $main-font-color;
}

//navbar

nav {
  width: 100%;
  padding: 15px 10px;
  background: $main-blue;
  .toggler {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    color: $white;
    cursor: pointer;
  }
  display: flex;
  justify-content: flex-end;
  ul {
    max-height: 0;
    position: relative;
    top: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease-in-out;
    li {
      a {
        padding: 7px;
        text-align: left;
        display: block;
        color: $white-opacity;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $white;
        }
      }
      &:first-of-type a {
        padding-top: 40px;
      }
    }
  }
  ul.show {
    max-height: 1000px;
    pointer-events: all;
    opacity: 1;
  }
  @media (min-width: 992px) {
    .toggler {
      display: none;
    }
    ul,
    ul.show {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex: 1;
      max-height: 1000px;
      opacity: 1;
      pointer-events: all;
      li {
        text-align: center;
        &:first-of-type a {
          padding-top: 7px;
        }
      }
    }
  }
}

//auto-typed Heading

.typed-heading {
}

//project cards

%button {
  background: $main-blue;
  border: 1px solid $main-blue;
  color: $white;
  border-radius: 0;
  min-width: 80px;
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  &:last-of-type {
    color: $main-blue;
    background: $white;
  }
  &:hover {
    color: $main-blue;
    background: $white;
    &:last-of-type {
      background: $main-blue;
      color: $white;
    }
  }
}

%row {
  display: flex;
  flex-wrap: wrap;
}

%column {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
  @media (min-width: 576px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    width: 33.3333333333%;
  }
}

.project-list {
  padding: 40px 0;
  .row {
    @extend %row;
    .col {
      @extend %column;
      .project {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 30px;
        border: 1px solid $main-gray-opacity;
        h5 {
          font-size: 20px;
          color: $main-blue;
          margin-bottom: 1rem;
        }
        .tag-list {
          display: flex;
          margin-bottom: 1rem;
          .tag {
            text-transform: uppercase;
            font-size: 10px;
            padding: 4px 6px;
            border-radius: 3px;
            background: #d6d7d8;
            background: #a9b0be;
            color: #fff;
            margin-right: 5px;
          }
        }
        p {
          margin-bottom: 1rem;
          font-size: 15px;
          line-height: 24px;
        }
        .links {
          display: flex;
          justify-content: space-between;
          margin-top: auto;
          a {
            @extend %button;
          }
        }
      }
    }
  }
}

//imge section

section.section-images {
  padding: 30px 0;
  .row {
    @extend %row;
    .img-container {
      @extend %column;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      img {
        width: auto;
        height: 170px;
        filter: grayscale(1);
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
  }
}

//footer

footer {
  padding: 3rem 2rem;
  p {
    color: $white-opacity;
  }
  background: $main-blue;
}
