/* quiz container start */
.quiz {
  font-family: $quiz-font;
  text-transform: uppercase;
  color: $white;
  width: 100%;
  height: 100vh;
  padding: 0px;
  background: #242423;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* select styling start*/
  .select {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    //   margin: 5px 20px;
    label {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      @media (min-width: 440px) {
        width: 220px;
        padding-right: 20px;
      }
    }
    select {
      font-family: $quiz-font;
      background: #333533;
      color: $white;
      position: relative;
      padding: 5px 3px;
      border: 1px solid #fff;
      margin-bottom: 10px;
      &::after {
        position: absolute;
        content: '';
        z-index: 10;
      }
      width: 100%;
      @media (min-width: 440px) {
        width: 170px;
      }
    }
  }
  .select-selected {
    background-color: DodgerBlue;
  }
  /* select styling end*/
  /* buttons styling start*/
  button {
    font-family: $quiz-font;
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    background: $quiz-btn;
    transition: all 0.3s ease-in-out;
    border: 1px solid $quiz-btn;
    cursor: pointer;
    &.btn-fixed-bottom {
      position: absolute;
      bottom: 50px;
      width: 100px;
      margin-top: 7px;
      padding: 12px 20px;
      transition: all 3s ease-in-out;
      left: calc(50% - 50px);
    }
    &.answer {
      transition: all 0.3s ease-in-out;
      font-size: 16px;
      width: 80vw !important;
      margin-bottom: 20px;
      padding: 10px 15px;
      display: block;
      &.true {
        background-color: $quiz-true;
      }
      &.true-border {
        border: 1px solid $quiz-true;
      }
      &.false {
        background-color: $quiz-false;
      }
    }
  }
  /* buttons styling end*/
  /* question styling start */
  .question {
    p {
      margin-bottom: 30px;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* question styling end */

  /* score styling start */
  .score {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .score-count {
    }
    .question-count {
    }
  }
  /* score styling end */

  /* timebar styling start */
  @keyframes width-animation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  .timebar {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: #07c837;
    animation: width-animation linear infinite;
    // animation-duration: 3s;
  }
  /* timebar styling end */
}
/* quiz container end */
