//general
$white: #fff;
$white-opacity: rgba($white, 0.55);

//main
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
$main-font: 'Roboto', sans-serif;
$main-blue: #404f6f;
$main-gray: #a9b0be;
$main-gray-opacity: rgba($main-gray, 0.55);
$main-font-color: #212529;

//quiz
$quiz-bg: #242423;
$quiz-true: #07c837;
$quiz-false: #e3272d;
$quiz-btn: #333533;
$quiz-font: 'JetBrains Mono', monospace;
