//main
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
$main-font: 'Roboto', sans-serif;
$main-bg-color: #404f6f;
$main-tag-color: #a9b0be;
$main-font-color: #000;

//quiz
